* {
    margin: 0;
    padding: 0;
  }
  
  /* animation */
  .transition {
    transition: 0.5s;
  }

  .pulse-animation {
    animation: pulse 1s infinite;
  }

  @keyframes pulse {
    0% {
      opacity: 0%;
    }
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
  
  .container {
    margin: 0 auto;
    min-width: 1600px;
    position: relative;
  }

  a {
    text-decoration: none;
  }